<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mensaje-heading">Create or edit a Mensaje</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_body">Body</label>
                    <input type="text" class="form-control" name="body" id="field_body"
                           formControlName="body"/>
                    <div *ngIf="editForm.get('body')!.invalid && (editForm.get('body')!.dirty || editForm.get('body')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('body')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('body')?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" formControlName="usuario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id === editForm.get('usuario')!.value?.id ? editForm.get('usuario')!.value : usuarioOption" *ngFor="let usuarioOption of usuarios; trackBy: trackById">{{ usuarioOption.username }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tema">Tema</label>
                    <select class="form-control" id="field_tema" name="tema" formControlName="tema">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="temaOption.id === editForm.get('tema')!.value?.id ? editForm.get('tema')!.value : temaOption" *ngFor="let temaOption of temas; trackBy: trackById">{{ temaOption.title }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
